body{
	background-color:rgb(255,255,252);
	color:black;
	font-family:arial,sans-serif;
	margin:0;
	font-size:1.7vh;
	line-height:2.3vh;
}

a{
	text-decoration:none;
	color:rgb(150,150,200);
}

.fog{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,252,0.88);
}

.fogged{
	opacity:0.5;
}

.logo{
	margin-top:3vw;
	margin-left:3vw;
	max-height:8vh;
}

.logo img , .menubtn img {
	max-height:8vh;
}



.menu{
	margin:3vw;
	padding-top:9vw;
	max-width:22vw;
	position:fixed;
}

.mobmenu{
	position:fixed;
	bottom:22vw;
	text-align:right;
	right:3vw;
}

.topbar{
	width:22vw;
	position:fixed;
	left:0;
	right:0;
	top:0;
}

.menubtn{
	display:none;
	text-align:right;
	text-justify:inter-word;
}

.body{
	margin-left:15vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:5vw;
	position:fixed;
	width:fit-content;
}

.body2{
	margin-left:35vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:5vw;
	position:fixed;
}

.body3{
	margin-left:55vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:5vw;
	position:absolute;
	padding-bottom:15vh;
}

.init{
	position:absolute;
}


#ab:hover , #ad:hover , #na:hover , .op:hover{
	opacity:0.5;
	cursor:crosshair;
}

p{
	margin:0;
}

.index{
	max-height:8vh;
}

img , video{
	max-width:100%;
	max-height:50vh;;
}

.script{
	text-align:center;
	font-family:courier,monospace;
}

#canvas{
	background-color:rgb(255,255,252);
	cursor:none;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
	max-width: 50%;
    height: 15px;
    background: none;
    outline-color:black;
    outline-width:1px;
    outline-style:solid;
    opacity:1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:18px;
    height:10px;
    background: linear-gradient(to left, transparent 10%, white 10%, white 90%, transparent 90%);
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 10px;
    height: 10px;
    background:black;
    cursor: pointer;
}

.high{
	padding-top:6vw;
}

@media screen and (max-aspect-ratio:4/3){
body{
	font-size:2vh;
	line-height:2.8vh;
}

.topbar{
	background-color:rgba(255,255,252,0.8);
	bottom:0;
	top:auto;
	width:auto;
}

.mobh{
	display:none;
}

.body{
	padding:3vw;
	margin:0;
}


.menubtn{
	display:inline;
	position:absolute;
	width:fit-content;
	right:0;
	bottom:-0.5em;
	margin:3vw;
}

.menu{
	display:none;
}

.logo{
	margin:3vw;
}

.body2{
	padding:3vw;
	margin:0;
	position:absolute;
}

.body3{
	padding:3vw;
	top:15vh;
	left:0;
	width:94vw;
	margin:0;
	right:0;
	padding-bottom:20vh;
}

