body{
	background-color:rgb(255,255,252);
	color:black;
	font-family:arial,sans-serif;
	margin:0;
	font-size:1.7vh;
	line-height:2.3vh;
}

a{
	text-decoration:none;
	color:rgb(150,150,200);
}

.fogo{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,252,1);
}

.fogl{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,252,0.95);
}

.fogm{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,252,0.88);
}

.fogh{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,252,0.78);
}

.fogged{
	opacity:0.5;
}

.logo{
	margin-top:3vw;
	margin-left:3vw;
	max-height:8vh;
	width:fit-content;
	max-width:20vh;
}

.logo img , .menubtn img {
	max-height:8vh;
}



.menu{
	margin:3vw;
	padding-top:9vw;
	max-width:22vw;
	position:fixed;
}

.mobmenu{
	position:fixed;
	bottom:22vw;
	text-align:right;
	right:3vw;
}

.topbar{
	width:12vw;
	position:fixed;
	left:0;
	right:0;
	top:0;
}

.menubtn{
	display:none;
	text-align:right;
	text-justify:inter-word;
}

.body{
	margin-left:18vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:5vw;
	position:fixed;
	width:fit-content;
}

.body2{
	margin-left:38vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:5vw;
	position:fixed;
}

.body3{
	margin-left:49vw;
	padding-top:12vw;
	padding-bottom:3vw;
	padding-right:3vw;
	position:absolute;
	padding-bottom:15vh;
}

.init{
	position:absolute;
}

.controls{
	text-align:center;
}


#ab:hover , #ad:hover , #na:hover , .op:hover , #se:hover , #co:hover , #mab:hover , #mad:hover , #mna:hover , .op:hover , #mse:hover , #mco:hover{
	opacity:0.5;
	cursor:crosshair;
}

.btn:hover{
	opacity:0.5;
	cursor:crosshair;
}

.btn{
	border:1px solid black;
	padding:.5vw;
	margin:1vw;
}


p{
	margin:0;
}

.index{
	max-height:8vh;
}

img{
	max-height:50vh;
	max-width:94vw;
}

.body3 img{
	max-width:46.5vw;
	max-height:70vh;
}

.body3 video{
	max-width:39vw;
	max-height:100vh;
}

.script{
	text-align:center;
	font-family:courier,monospace;
}

#canvas{
	background-color:rgba(255,255,252,0);
	cursor:none;
	text-align:center;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
	min-width: 50%;
    height: 15px;
    background: none;

    opacity:1;
	margin-left:5px;
	margin-top:2vh;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:18px;
    height:10px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
}

.high{
	padding-top:6vw;
}

.mediumo , .small {
	opacity:0.2;
}

.comh{
	display:none;
}

.mobh{
	display:block;
}

@media screen and (max-aspect-ratio:4/3){
body{
	font-size:2vh;
	line-height:2.8vh;
}

.btn{
	border:4px solid black;
	padding:3vw;
	margin:3vw;
}

.topbar{
	background-color:rgba(255,255,252,0.88);
	bottom:0;
	top:auto;
	width:auto;
}

.mobh{
	display:none;
}
.comh{
	display:block;
}

.body{
	padding:3vw;
	margin:0;
}

.init{
	padding-bottom:10vh;
}


.menubtn{
	display:inline;
	position:absolute;
	width:fit-content;
	right:0;
	bottom:-0.5em;
	margin:3vw;
}

.menu{
	display:none;
}

.logo{
	margin:3vw;
}

.body2{
	padding:3vw;
	margin:0;
	position:absolute;
}

.body3{
	padding:3vw;
	top:15vh;
	left:0;
	width:94vw;
	margin:0;
	right:0;
	padding-bottom:20vh;
}

.slider{
    -webkit-appearance: none;
    appearance: none;

    height: 3vh;
    background: none !important;
    opacity:1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:30px !important;
    height:20px !important;
    background: none !important;
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
    height: 3vh !important;
    border-radius: 0px;
}


.slider::-moz-range-thumb{
    width: 3vh;
    height: 3vh;
    background: black;
    cursor: pointer;
}

.body3 img{
	max-width:90vw;
	max-height:70vh;
}

.body3 video{
	max-width:90vw;
	max-height:100vh;
}

